.menu-item{
    margin-top: 22px;
    border-right: 1px solid #000000;
    height: 20px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
}

@media screen and (max-width: 900px) {
    .menu-item {
        border-right: none;
    }
  }

.menu-itemL{
    margin-top: 22px;
    border: none;
    height: 20px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
}

.nav-link{
    text-transform: uppercase;
    letter-spacing: 1px;
}


.navbar{
    padding: .5rem 4rem!important;
}

.mainParallax{
    width: 100%;
    background-color: blue;
    height: 500px;
}